/*font-family: 'PT Sans', sans-serif;
font-family: 'Montserrat Subrayada', sans-serif;*/

body{
	background:#f8faf6;
}

h2{
	font-family:'Montserrat Subrayada', sans-serif;
	text-align: left;
	font-size: 20px;
	position: absolute;left:15px; top:0px;
}

h3{
	font-family:'Montserrat Subrayada', sans-serif;
	text-align: center;
	position: relative;top:20px;
	margin-bottom:30px;
	font-size: 30px;

}

img{
	max-width: 500px;
	flex-basis:300px;
	flex-shrink: 1.5;
	margin: 15px;
	position: relative;
}

.parent{
	position: relative;
	display: flex;
	flex:0 0 auto;
	overflow: hidden;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

hr{
	position: relative;bottom:15px;
}


.firstrow{
	position: relative;
	height: 350px;
	padding: 15px;
	display: block;
}
.firstrow #overlay1{
	position: absolute;
	top:15px; left: 15px;
	width: 300px;
	height: 50px;
	color:rgba(0,0,0,0);
	text-align: center;
	transition:.5s ease;
}

.firstrow:hover #overlay1{
	display: block;
	background: black;
}

p{
	position: absolute;
	top:0; left: 0;
	width: 100%;
	height: 50%;
	color:rgba(0,0,0,0);
	align-content: center;
	transition:.5s ease;
	font-family: 'PT Sans', sans-serif;
}

.firstrow:hover p{
	display: block;
	color:white;
}

.banner{
	position: fixed;top:0px;left:0px;
	width:100%;
	height:42.5px;
	z-index: 1000;
	background-color:#f8faf6; 
}

.tabs{
	text-align: right;
	padding:15px;
	font-family: 'PT Sans', sans-serif;
}

#about{
	margin:30px;
	color:#a32704;
	text-decoration: none;
	padding: 3px;
}
#art{
	margin:30px;
	color:#000000;
	text-decoration: none;
}
#marketing{
	margin:30px;
	color:#a32704;
	text-decoration: none;
}
#contact{
	margin:30px;
	color:#a32704;
	text-decoration: none;
}

#home{
	text-decoration: none;
	color:#a32704;
}


a:hover{
	color: white;
  	border: none;
  	color: #a32704;
  	padding: 16px 25px;
  	text-align: right;
  	font-size: 16px;
  	margin: 4px 2px;
  	transition: 0.3s;
}