/*font-family: 'PT Sans', sans-serif;
font-family: 'Montserrat Subrayada', sans-serif;*/

body{
	background:#f8faf6;
}

h2{
	font-family:'Montserrat Subrayada', sans-serif;
	text-align: left;
	font-size: 20px;
	position: absolute;left:15px; top:0px;
}

h3{
	font-family:'Montserrat Subrayada', sans-serif;
	text-align: center;
	position: relative;top:20px;
	margin-bottom:30px;
	font-size: 30px;

}

img{
	max-width: 500px;
	flex-basis:300px;
	flex-shrink: 1.5;
	margin: 15px;
	position: relative;
}

.parent{
	position: relative;
	display: flex;
	flex:0 0 auto;
	overflow: hidden;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

hr{
	position: relative;bottom:15px;
}


.firstrow{
	position: relative;
	width: 50%;
	height: 350px;
	padding: 15px;
	display: block;
}

.overlay1{
	position: absolute;
	top:15px; left: 30px;
	width: 300px;
	height: 70px;
	color:rgba(0,0,0,0);
	text-align: center;
	margin: auto;
	font-family: 'PT Sans', sans-serif;
}

.firstrow:hover p{
	display: block;
	color:#f8faf6;
	background-color: black;
	transition: .5s ease;
}

.overlay2{
	position: absolute;
	top:15px; left: 30px;
	width: 300px;
	height: 70px;
	color:rgba(0,0,0,0);
	text-align: center;
	margin: auto;
	font-family: 'PT Sans', sans-serif;
}

#overlay3{
	position: absolute;
	top:15px; left: 30px;
	width: 300px;
	height: 70px;
	color:rgba(0,0,0,0);
	text-align: center;
	margin: auto;
	font-family: 'PT Sans', sans-serif;
}

#overlay4{
position: absolute;
	top:15px; left: 30px;
	width: 300px;
	height: 70px;
	color:rgba(0,0,0,0);
	text-align: center;
	margin: auto;
	font-family: 'PT Sans', sans-serif;

}

#overlay5{
position: absolute;
	top:15px; left: 30px;
	width: 300px;
	height: 70px;
	color:rgba(0,0,0,0);
	text-align: center;
	margin: auto;
	font-family: 'PT Sans', sans-serif;
}

#overlay6{
position: absolute;
	top:15px; left: 30px;
	width: 300px;
	height: 70px;
	color:rgba(0,0,0,0);
	text-align: center;
	margin: auto;
	font-family: 'PT Sans', sans-serif;

}

#overlay7{
position: absolute;
	top:15px; left: 30px;
	width: 300px;
	height: 70px;
	color:rgba(0,0,0,0);
	text-align: center;
	margin: auto;
	font-family: 'PT Sans', sans-serif;

}

#overlay8{
position: absolute;
	top:15px; left: 30px;
	width: 300px;
	height: 70px;
	color:rgba(0,0,0,0);
	text-align: center;
	margin: auto;
	font-family: 'PT Sans', sans-serif;

}

#overlay9{
position: absolute;
	top:15px; left: 30px;
	width: 300px;
	height: 70px;
	color:rgba(0,0,0,0);
	text-align: center;
	margin: auto;
	font-family: 'PT Sans', sans-serif;

}

#overlay10{

position: absolute;
	top:15px; left: 30px;
	width: 300px;
	height: 70px;
	color:rgba(0,0,0,0);
	text-align: center;
	margin: auto;
	font-family: 'PT Sans', sans-serif;
}

#overlay11{
position: absolute;
	top:15px; left: 30px;
	width: 300px;
	height: 70px;
	color:rgba(0,0,0,0);
	text-align: center;
	margin: auto;
	font-family: 'PT Sans', sans-serif;
}

#overlay12{
	position: absolute;
	top:15px; left: 30px;
	width: 300px;
	height: 70px;
	color:rgba(0,0,0,0);
	text-align: center;
	margin: auto;
	font-family: 'PT Sans', sans-serif;
}

#overlay13{
	position: absolute;
	top:15px; left: 30px;
	width: 300px;
	height: 70px;
	color:rgba(0,0,0,0);
	text-align: center;
	margin: auto;
	font-family: 'PT Sans', sans-serif;
}

#overlay14{
position: absolute;
	top:15px; left: 30px;
	width: 300px;
	height: 70px;
	color:rgba(0,0,0,0);
	text-align: center;
	margin: auto;
	font-family: 'PT Sans', sans-serif;

}

#overlay15{
position: absolute;
	top:15px; left: 30px;
	width: 300px;
	height: 70px;
	color:rgba(0,0,0,0);
	text-align: center;
	margin: auto;
	font-family: 'PT Sans', sans-serif;
}

#overlay16{
position: absolute;
	top:15px; left: 30px;
	width: 300px;
	height: 70px;
	color:rgba(0,0,0,0);
	text-align: center;
	margin: auto;
	font-family: 'PT Sans', sans-serif;

}

#overlay17{
position: absolute;
	top:15px; left: 30px;
	width: 300px;
	height: 70px;
	color:rgba(0,0,0,0);
	text-align: center;
	margin: auto;
	font-family: 'PT Sans', sans-serif;

}

#overlay18{

position: absolute;
	top:15px; left: 30px;
	width: 300px;
	height: 70px;
	color:rgba(0,0,0,0);
	text-align: center;
	margin: auto;
	font-family: 'PT Sans', sans-serif;
}

.banner{
	position: fixed;top:0px;left:0px;
	width:100%;
	height:42.5px;
	z-index: 1000;
	background-color:#f8faf6; 
}

.tabs{
	text-align: right;
	padding:15px;
	font-family: 'PT Sans', sans-serif;
}

#about{
	margin:30px;
	color:#a32704;
	text-decoration: none;
	padding: 3px;
}
#art{
	margin:30px;
	color:#000000;
	text-decoration: none;
}
#marketing{
	margin:30px;
	color:#a32704;
	text-decoration: none;
}
#contact{
	margin:30px;
	color:#a32704;
	text-decoration: none;
}

#home{
	text-decoration: none;
	color:#a32704;
}


a:hover{
	color: white;
  	border: none;
  	color: #a32704;
  	padding: 16px 25px;
  	text-align: right;
  	font-size: 16px;
  	margin: 4px 2px;
  	transition: 0.3s;
}