/*font-family: 'PT Sans', sans-serif;
font-family: 'Montserrat Subrayada', sans-serif;*/

body{
	background-color:#f8faf6;
}

h2{
	font-family:'Montserrat Subrayada', sans-serif;
	text-align: left;
	font-size: 20px;
	position: absolute;left:15px; top:0px;
}

.work{
	margin: auto;
	width: 70%;
	display: inline-block;
	position: relative;top: 10px;
}


h1{
	font-family:'Montserrat Subrayada', sans-serif;
	margin: auto;
	text-align: center;
	position: relative;top:30px;

}

hr{
	position: relative;bottom:15px;
}

div{
	font-family: 'PT Sans', sans-serif;
}

p{
	font-family: 'PT Sans', sans-serif;
	position: relative;top:70px;
	margin: 10px;
}

img{
	display: inline;
	width: 20%;
	margin: auto;
	padding: 70px;
}

#me{
	width: 30%;
	margin: 15px;
	float:left;
	display: inline-flex;
}

.banner{
	position: fixed;top:0px;left:0px;
	width:100%;
	height:45px;
	z-index: 1000;
	background-color:#f8faf6; 
}

.tabs{
	text-align: right;
	padding:15px;
}

#about{
	margin:30px;
	color:#a32704;
	text-decoration: none;
}
#art{
	margin:30px;
	color:#a32704;
	text-decoration: none;
}
#marketing{
	margin:30px;
	color:#000000;
	text-decoration: none;
}
#contact{
	margin:30px;
	color:#a32704;
	text-decoration: none;
}

#home{
	text-decoration: none;
	color:#a32704;
}

a:hover{
	color: white;
  	border: none;
  	color: #a32704;
  	padding: 16px 25px;
  	text-align: right;
  	font-size: 16px;
  	margin: 4px 2px;
  	transition: 0.3s;
}