<!doctype html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="stylesheets/about.css">
	<style>
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|PT+Serif');
</style>
</head>
<body>
	<h1>Who is she?</h1>
	<img src="../media/headshot.jpg" width=480px height=320px>
	<p>With dedication and ambition, I eagerly jump-started my media career with prestigious positions at The Points Guy and Fullscreen Media. These experiences not only solidified my passion for the industry, but granted me the knowledge of those working at the top of the field.

	My work has spanned the length of the digital marketing industry, including video optimization and production, social media marketing, business development, sales, custom designed media, graphic design, SEO and influencer marketing. I continue to grow these skills with a constant eye on the evolution of the industry. 

	With my final year at Fordham University, I plan to finish off my dual-degrees in New Media/Digital Design (New Media Commerce) and Visual Arts (Painting and Drawing). These two subjects are both passions and fuel for a future career in digital marketing and social media. Both subjects touch on my deep love of art and culture and allow me to build my creative voice in the media industry. 

	I have lived in France for six months on an exchange program and am very open to abroad opportunities. </p>

</body>
</html>
