<!doctype html>
<html>
<head>
	<title>Art</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada|PT+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/art.css">
</head>
<body>
	<div class="banner">
		<h2><a href=../index.html id="home">Sabrina Diamond</a></h2>
		<div class="tabs">
		<a href="../templates/about.html" id="about">About</a>
		<a href="../templates/art.html" id="art">Art</a>
		<a href="../templates/marketing.html" id="marketing">Digital Marketing</a>
		<a href="../templates/contact.html" id="contact">Contact</a>
		</div>
		<hr>
	</div>
	<br>
	<h3>Photography</h3>
	<div class="parent">
		<div class="firstrow">
			<img id="amsterdam" src="../media/amsterdam.jpg" alt="Amsterdam">
			<div id="overlay1"><p>Amsterdam, 2018, 35mm film</p></div>
		</div>
		<div class="first">
			<img src="../media/badsex.jpg" alt="Truck in NYC">
			<div class="overlay2"><p>Bad Sex, 2016, 35mm film</p></div>
		</div>
			
		<div class="second">
			<img src="../media/apartment.jpg" alt="Apartment">
			<div class="overlay3"><p>Apartment in Greenpoint, 2016, 35mm film </p></div>
		</div>
		<div>
			<img src="../media/nice.jpg" alt="Nice, France">
			<div class="overlay4"></div>
		</div>
			
		<div>
			<img src="../media/beach.jpg" alt="Girl at the beach">
			<div class="overlay5"></div>
		</div>
		<div>
			<img src="../media/rouen.jpg" alt="Rouen, France">
			<div class="overlay6"></div>
		</div>
			
		<div>
			<img src="../media/beer.jpg" alt="Girl drinking beer">
			<div id="overlay1"><p>Amsterdam, 2018, 35mm film</p></div>
		</div>
		<div>
			<img src="../media/halloween.jpg" alt="Halloween in NYC">
			<div id="overlay1"><p>Amsterdam, 2018, 35mm film</p></div>
		</div>
			
		<div>
			<img src="../media/bouncy.jpg" alt="Bouncy Castle">
			<div id="overlay1"><p>Amsterdam, 2018, 35mm film</p></div>
		</div>
		<div>
			<img src="../media/brazil.jpg" alt="Brazil">
			<div id="overlay1"><p>Amsterdam, 2018, 35mm film</p></div>
		</div>
			
		<div>
			<img src="../media/eli.jpg" alt="Boy jumping in pool">
			<div id="overlay1"><p>Amsterdam, 2018, 35mm film</p></div>
		</div>
		<div>
			<img src="../media/pool.jpg" alt="Boy jumping in pool">
			<div id="overlay1"><p>Amsterdam, 2018, 35mm film</p></div>
		</div>
			
		<div>
			<img src="../media/friends.jpg" alt="Four friends">
			<div id="overlay1"><p>Amsterdam, 2018, 35mm film</p></div>
		</div>
		<div>
			<img src="../media/highrise.jpg" alt="Highrise buildings">
			<div id="overlay1"><p>Amsterdam, 2018, 35mm film</p></div>
		</div>
			
		<div>
			<img src="../media/hike.jpg" alt="Hiking">
			<div id="overlay1"><p>Amsterdam, 2018, 35mm film</p></div>
		</div>
		<div>
			<img src="../media/outlook.jpg" alt="An outlook">
			<div id="overlay1"><p>Amsterdam, 2018, 35mm film</p></div>
		</div>
			
		<div>
			<img src="../media/notinservice.jpg" alt="Bus not in service">
			<div id="overlay1"><p>Amsterdam, 2018, 35mm film</p></div>
		</div>
		<div>
			<img src="../media/splits.jpg" alt="Man doing the splits"> 
			<div id="overlay1"><p>Amsterdam, 2018, 35mm film</p></div>
		</div>
			
		<div>
			<img src="../media/carrievertical.jpg" alt="Carrie">
			<div id="overlay1"><p>Amsterdam, 2018, 35mm film</p></div>
		</div>
		<div>
			<img src="../media/miravertical.jpg" alt="Mira sitting">
			<div id="overlay1"><p>Amsterdam, 2018, 35mm film</p></div>
		</div>

	</div>

		
		

</body>
</html>