<!doctype html>
<html>
<head>
	<title>Art</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada|PT+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/art.css">
</head>
<body>
	<div class="banner">
		<h2><a href=../index.html id="home">Sabrina Diamond</a></h2>
		<div class="tabs">
		<a href="../templates/about.html" id="about">About</a>
		<a href="../templates/art.html" id="art">Art</a>
		<a href="../templates/marketing.html" id="marketing">Digital Marketing</a>
		<a href="../templates/contact.html" id="contact">Contact</a>
		</div>
		<hr>
	</div>
	<br>
	<h3>Photography</h3>
	<div class="parent">
		<div class="firstrow">
			<img id="amsterdam" src="../media/amsterdam.jpg" alt="Amsterdam">
			<div id="overlay1">TEEEEESSSSTTTTT</div>
		</div>
		<span>
			<img src="../media/badsex.jpg">
			<span class="overlay2">jkdb</span>
		</span>
			
		<div>
			<img src="../media/apartment.jpg">
			<div class="overlay3"></div>
			<img src="../media/nice.jpg">
			<div class="overlay4"></div>
		</div>
			
		<div>
			<img src="../media/beach.jpg">
			<div class="overlay5"></div>
			<img src="../media/rouen.jpg">
			<div class="overlay6"></div>
		</div>
			
		<div>
			<img src="../media/beer.jpg">
			<img src="../media/halloween.jpg">
		</div>
			
		<div>
			<img src="../media/bouncy.jpg">
			<img src="../media/brazil.jpg">
		</div>
			
		<div>
			<img src="../media/eli.jpg">
			<img src="../media/pool.jpg">
		</div>
			
		<div>
			<img src="../media/friends.jpg">
			<img src="../media/highrise.jpg">
		</div>
			
		<div>
			<img src="../media/hike.jpg">
			<img src="../media/outlook.jpg">
		</div>
			
		<div>
			<img src="../media/notinservice.jpg">
			<img src="../media/splits.jpg">
		</div>
			
		<div>
			<img src="../media/carrievertical.jpg">
			<img src="../media/miravertical.jpg">
		</div>

	</div>

		
		

</body>
</html>