<!doctype html>
<html>
<head>
	<title>Art</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada|PT+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/art.css">
</head>
<body>
	<div class="banner">
		<h2><a href=../index.html id="home">Sabrina Diamond</a></h2>
		<div class="tabs">
		<a href="../templates/about.html" id="about">About</a>
		<a href="../templates/art.html" id="art">Art</a>
		<a href="../templates/marketing.html" id="marketing">Digital Marketing</a>
		<a href="../templates/contact.html" id="contact">Contact</a>
		</div>
		<hr>
	</div>
	<br>
	<h3>Photography</h3>
	<div class="parent">
		<div class="firstrow">
			<img id="amsterdam" src="../media/amsterdam.jpg" alt="Amsterdam">
			<div class="overlay1"><p>Amsterdam, 2018, 35mm film</p></div>
		</div>
		
		<div class="firstrow">
			<img src="../media/badsex.jpg" alt="Truck in NYC">
			<div class="overlay2"><p>Bad Sex, 2016, 35mm film</p></div>
		</div>
			
		<div class="firstrow">
			<img src="../media/apartment.jpg" alt="Apartment">
			<div id="overlay3"><p>Apartment in Greenpoint, 2016, 35mm film </p></div>
		</div>
		<div class="firstrow">
			<img src="../media/nice.jpg" alt="Nice, France">
			<div id="overlay4"><p>4 Gals, 2018, 35mm film</p></div>
		</div>
			
		<div class="firstrow">
			<img src="../media/beach.jpg" alt="Girl at the beach">
			<div id="overlay5"><p>Cold Day, 2018, 35mm film</p></div>
		</div>
		<div class="firstrow">
			<img src="../media/rouen.jpg" alt="Rouen, France">
			<div id="overlay6"><p>Storms, 2018, 35mm film</p></div>
		</div>
			
		<div class="firstrow">
			<img src="../media/beer.jpg" alt="Girl drinking beer">
			<div id="overlay7"><p>Drink Up, 2017, 35mm film</p></div>
		</div>
		<div class="firstrow">
			<img src="../media/halloween.jpg" alt="Halloween in NYC">
			<div id="overlay8"><p>What Are You Hiding?, 2016, 35mm film</p></div>
		</div>
			
		<div class="firstrow">
			<img src="../media/bouncy.jpg" alt="Bouncy Castle">
			<div id="overlay9"><p>Jumpin', 2017, 35mm film</p></div>
		</div>
		<div class="firstrow">
			<img src="../media/brazil.jpg" alt="Brazil">
			<div id="overlay10"><p>Brazil, 2017, 35mm film</p></div>
		</div>
			
		<div class="firstrow">
			<img src="../media/eli.jpg" alt="Boy jumping in pool">
			<div id="overlay11"><p>Waiting, 2016, 35mm film</p></div>
		</div>
		<div class="firstrow">
			<img src="../media/pool.jpg" alt="Boy jumping in pool">
			<div id="overlay12"><p>Gone, 2016, 35mm film</p></div>
		</div>
			
		<div class="firstrow">
			<img src="../media/friends.jpg" alt="Four friends">
			<div id="overlay13"><p>Friends, 2017, 35mm film</p></div>
		</div>
		<div class="firstrow">
			<img src="../media/highrise.jpg" alt="Highrise buildings">
			<div id="overlay14"><p>Up, 2017, 35mm film</p></div>
		</div>
			
		<div class="firstrow">
			<img src="../media/hike.jpg" alt="Hiking">
			<div id="overlay15"><p>Hike, 2018, 35mm film</p></div>
		</div>
		<div class="firstrow">
			<img src="../media/outlook.jpg" alt="An outlook">
			<div id="overlay16"><p>Monet, 2018, 35mm film</p></div>
		</div>
			
		<div class="firstrow">
			<img src="../media/notinservice.jpg" alt="Bus not in service">
			<div id="overlay17"><p>Keep Moving, 2017, 35mm film</p></div>
		</div>
		<div class="firstrow">
			<img src="../media/splits.jpg" alt="Man doing the splits"> 
			<div id="overlay18"><p>Just Ask, 2017, 35mm film</p></div>
		</div>
			
	

	</div>

		
		

</body>
</html>