<!doctype html>
<html>
<head>
	<title>Contact</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/contact.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada|PT+Sans" rel="stylesheet">
</head>
<body>
	<div class="banner">
		<h2><a href=../index.html id="home">Sabrina Diamond</a></h2>
		<div class="tabs">
		<a href="../templates/about.html" id="about">About</a>
		<a href="../templates/art.html" id="art">Art</a>
		<a href="../templates/marketing.html" id="marketing">Digital Marketing</a>
		<a href="../templates/contact.html" id="contact">Contact</a>
		</div>
		<hr>
	</div>
	<br>
	<h1>Contact</h1>
	<div class="container">
 	 <form action="action_page.php">
		<label for="name">Name</label>
   	 	<input type="text" id="name" name="name" placeholder="Your name.">

    	<label for="email">Email</label>
    	<input type="text" id="email" name="email" placeholder="Your email.">

	    <label for="subject">Message</label>
	    <textarea id="subject" name="subject" placeholder="What's on your mind?" style="height:200px"></textarea>

	    <input type="submit" value="Submit">

  </form>
</div>
</body>
</html>