<!doctype html>
<html>
<head>
	<title>Digital Marketing</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada|PT+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../stylesheets/marketing.css">
</head>
<body>
	<div class="banner">
		<h2><a href=../index.html id="home">Sabrina Diamond</a></h2>
		<div class="tabs">
		<a href="../templates/about.html" id="about">About</a>
		<a href="../templates/art.html" id="art">Art</a>
		<a href="../templates/marketing.html" id="marketing">Digital Marketing</a>
		<a href="../templates/contact.html" id="contact">Contact</a>
		</div>
	<hr>
	</div>
	<br>
	<h1>Digital Marketing</h1>
	<img id="me" src="../media/sabrina1.png">
	<p>I was only 15 years old when my passion for online branding sprouted. I had just started my own YouTube channel for makeup artistry and loved analyzing the feedback data just as much as making the art itself. From then on, I pursued the idea of working in digital marketing and social media. I worked as a freelancer for the past 5 years for various companies, every time proving to my clients that social media needs strategy. My most recent position is working with some of the top influencers in media, news, and entertainment.</p>
	<p>In my time assisting companies in digital marketing, I have successfully boosted their engagement and reach on platforms such as Facebook, Twitter, Instagram, YouTube, Pinterest, and LinkedIn through comprehensive social strategy. Alongside that, my years of experience in photo and video work has allowed me to improve their social posts and websites with better quality media. Companies I have worked with include Fullscreen Media (New York, NY), The Points Guy (New York, NY), By Jill Diamond (New York, NY), Affineco (Bridgeport, CT), and Faces Beautiful (Westport, CT). </p>
	<div class="work">
		<a href="http://www.thepointsguy.com" target="_blank">
			<img src="../media/tpg.png" alt="The Points Guy">
		</a>
		<a href="http://www.fullscreen.com" target="_blank">
			<img src="../media/fullscreen.png" alt="Fullscreen Media">
		</a>
		<a href="http://www.affineco.com" target="_blank">
			<img src="../media/affineco.png" alt="Affineco">
		</a>
		<a href="http://www.facesbeautiful.com" target="_blank">
			<img src="../media/fblogo.jpg" alt="Faces Beautiful">
		</a>
	</div>

</body>
</html>