<!doctype html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/art.css">
</head>
<body>

<table class="parent">

		<tr>
			<td><img src="../media/amsterdam.jpg"></td>
			<td><img src="../media/badsex.jpg"></td>
		</tr>
		<tr>
			<td><img src="../media/apartment.jpg"></td>
			<td><img src="../media/nice.jpg"></td>
		</tr>
		<tr>	
			<td><img src="../media/beach.jpg"></td>
			<td><img src="../media/rouen.jpg"></td>
		</tr>
		<tr>
			<td><img src="../media/beer.jpg"></td>
			<td><img src="../media/halloween.jpg"></td>
		</tr>
		<tr>
			<td><img src="../media/bouncy.jpg"></td>
			<td><img src="../media/brazil.jpg"></td>
		</tr>
		<tr>
			<td><img src="../media/eli.jpg"></td>
			<td><img src="../media/pool.jpg"></td>
		</tr>
		<tr>
			<td><img src="../media/friends.jpg"></td>
			<td><img src="../media/highrise.jpg"></td>
		</tr>
		<tr>
			<td><img src="../media/hike.jpg"></td>
			<td><img src="../media/outlook.jpg"></td>
		</tr>
		<tr>
			<td><img src="../media/notinservice.jpg"></td>
			<td><img src="../media/splits.jpg"></td>
		</tr>
		<tr>
			<td><img src="../media/carrievertical.jpg"></td>
			<td><img src="../media/miravertical.jpg"></td>
		</tr>
			
		</table>